<div class="row">
  <div class="col-md-3">
    <app-categories (categorySelected)="getProductsByCategorySlug($event)"></app-categories>
  </div>
  <div class="col-md-9">
    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
          <div class="col" *ngFor="let product of filteredProducts">
            <div class="card shadow-sm">
              <a routerLink="/product/{{ product.id }}">
                <img class="card-img-top" src="{{ product.img }}">
              </a>
              <div class="card-body">
                <h5 class="card-title mb-3">
                  <a routerLink="/product/{{ product.id }}">{{ product.title }}</a>
                </h5>
                <p class="card-text mb-4">{{ product.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <h5>$ {{ product.price | number: '1.2-2' }}</h5>
                  <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>