<div *ngIf="cart.length > 0; else noProductsInCart">

  <div class="container px-4 py-4 mx-auto">
    <div class="row d-flex justify-content-center">
      <div class="col-5">
        <h4 class="heading">Shopping Cart</h4>
      </div>
      <div class="col-7">
        <div class="row text-right">
          <div class="col-3">
            <h6 class="mt-2">Quantity</h6>
          </div>
          <div class="col-3">
            <h6 class="mt-2">Price</h6>
          </div>
          <div class="col-3">
            <h6 class="mt-2">Subtotal</h6>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </div>
    <div *ngFor="let product of cart" class="row d-flex justify-content-center border-top">
      <div class="col-5">
        <div class="row d-flex">
          <div class="my-auto flex-column d-flex pad-left">
            <h6 class="mob-text">{{ product.productInfo.title }}</h6>
          </div>
        </div>
      </div>
      <div class="my-auto col-7">
        <div class="row text-right">
          <div class="col-3">
            <p class="mob-text">{{ product.quantity }}</p>
          </div>
          <div class="col-3">
            <p class="mob-text">{{ product.productInfo.price | currency }}</p>
          </div>
          <div class="col-3">
            <p class="mob-text">{{ product.subtotal | currency }}</p>
          </div>
          <div class="col-3">
            <button class="btn btn-outline-danger" (click)="deleteFromCart(product.productInfo.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 d-md-flex justify-content-md-end">
    <h6 class="mt-2">Total: {{ getSubtotalPrice() | currency }}</h6>
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-danger" (click)="clearCart()">Clear</button>
    <a routerLink="/checkout" class="btn btn-primary" role="button">Checkout</a>
  </div>

</div>

<ng-template #noProductsInCart>
  <div>Cart is empty!</div>
</ng-template>

