<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a routerLink='/' class="navbar-brand">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/cart" class="nav-link">Cart <span class="badge bg-light text-dark">{{ getCartQuantity() }}</span></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>