<button class="btn btn-primary" (click)="goBack()">< Back</button>

<div *ngIf="product">
<div class="container mt-5 mb-5">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
          <div class="d-flex flex-column justify-content-center">
              <div class="main_image"> 
                <img src="{{ product.img }}" width="400">
              </div>
          </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <h3>{{ product.title }}</h3>
          <div class="mt-2 pr-3 content">
              <p>{{ product.description }}</p>
          </div>
          <div class="d-flex mt-4 justify-content-between align-items-center">
              <h3>${{ product.price | number: '1.2-2' }}</h3>
              <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
