<div class="p-4">
  <h4>Categories</h4>
  <ol class="list-unstyled">
    <li *ngFor="let category of categories">
      <a routerLink="" (click)="selectCategory(category.slug)">{{ category.title }}</a>
    </li>
  </ol>
  <a routerLink="" (click)="selectCategory()">All</a>
</div>
