<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout form</h2>
  </div>

  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Cart</span>
        <span class="badge bg-primary rounded-pill">{{ getCartTotalQuantity() }}</span>
      </h4>
      <ul class="list-group mb-3">
        <li *ngFor="let item of cart" class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-1">{{ item.productInfo.title }}</h6>
            <small>Quantity: {{ item.quantity }}</small>
          </div>
          <span>{{ item.subtotal | currency }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong>{{ getCartTotalPrice() | currency }}</strong>
        </li>
      </ul>
    </div>
    
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Information</h4>

      <form (ngSubmit)="submitOrder()" [formGroup]="orderForm">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name <sup class="text-danger">*</sup></label>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName">
            <div *ngIf="firstNameCtrl.invalid && (firstNameCtrl.dirty || firstNameCtrl.touched)">
              <small class="text-danger" *ngIf="firstNameCtrl.errors?.required">
                Valid first name is required.
              </small>
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name <sup class="text-danger">*</sup></label>
            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName">
            <div *ngIf="lastNameCtrl.invalid && (lastNameCtrl.dirty || lastNameCtrl.touched)">
              <small class="text-danger" *ngIf="lastNameCtrl.errors?.required">
                Valid last name is required.
              </small>
            </div>
          </div>
          
          <div class="col-12">
            <label for="email" class="form-label">Email <sup class="text-danger">*</sup></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" formControlName="email">
            <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched)">
              <small class="text-danger" *ngIf="emailCtrl.errors?.required">
                Please enter a valid email address for shipping updates.
              </small>
            </div>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-success btn-lg" type="submit" [disabled]="orderForm.invalid">Order</button>
        </div>
      </form>
    
    </div>
  
  </div>
</div>
